<div class="welcome-page-wrapper">
  <h1>WELCOME</h1>

  <h2>Friends, welcome on my test homework site, Please make yourselves comfortable.</h2>
  <h2>Homework requirements:</h2><br>
  <mat-card>
    <p class="requirements">
      Create full stack application. Application should have page with table of users, user
      profile page, create/edit/delete operations on user.<br>
      Front-end side must be written in Angular, and server-side with Java + Spring
      Framework.<br>
      As a database, where you should store users, use any database of your choise (but
      MongoDB is preferable)<br>
      You should use Observables on front-end as a way to recieve responses from
      server.<br>

      Requirements (Users table page):<br>

      ◦ Table should have ‘created at’, ‘name’, ‘role’ columns.<br>
      ◦ ‘Created at’ field is long integer value. It is milliseconds. Need to
      convert it to readable date.<br>
      ◦ Role can be ‘Admin’ or ‘User’.<br>
      ◦ User table should be sortable.<br>
      ◦ Table should have pagination.<br>
      ◦ Each row has a button at the end.<br>
      ◦ Click on the button shows menu with actions – ‘Edit’ and ‘Delete’<br>
      ◦ Click on any of actions shows popup with relevant data.<br>
      ◦ User table page can be called by url ( some_url / users ).<br>
      ◦ On click of table raw, a page ‘user profile’ should open.<br>
      ◦ Table should display users created only in the last year (in a past 365
      days)<br>
      ◦ You can add filter on a front-end side, but more preferable option is
      to make server return users only created in a past 365 days.<br>

      Requirements (User profile page):<br>

      ◦ User can see his name, profile creation date.<br>
      ◦ User can see his role.<br>
      ◦ Role can be ‘Admin’ or ‘User’.<br>
      ◦ User can edit profile (It means that user can be edited from both table
      and profile page)<br>
      ◦ User profile page can be called by url with user id
      ( some_url / users / user_id )<br>
      ◦ Profile page can be called by url even if it was created more than year
      ago.<br>

      What matters more:<br>
      ◦ Code readability<br>
      ◦ Architecture design<br>

      What will be perfect, but not necessary:<br>

      ◦ If application looks nice (Material is preferable)<br>
      ◦ If application has responsive interface<br>
      ◦ Correct routings on Front-end side.<br>
      ◦ MongoDB<br>
      ◦ If back-end side is written in reactive programming paradigm (try to
      use Java’s library ‘Project Reactor’)<br>
      ◦ Unit tests written in JUnit5<br>

      What tools you SHOULD use:<br>
      ◦ Angular (version 11+)<br>
      ◦ Java (version 11+)<br>
      ◦ Spring Framework and Spring Boot (2.0 +)<br>
      ◦ Git (public repo)<br>
    </p>
  </mat-card>


</div>
