.main-toolbar {
  background-color: transparent;
  backdrop-filter: blur(6px) grayscale(5%);
  overflow: hidden;

  &__left-side-block {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;

    .link {
      height: 24px;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 5px;
    }
  }
}
