.app-header {
  position: sticky;
  z-index: 100;
  top: 0;
}

.content-container {
  width: 100%;
  height: calc(100% - 64px);

  .sidenav {
    padding: 20px;
    background-color: rgba(#fccb90, .3);
    .list-item {
      width: 150px;
      text-align: start;
    }
  }

  .main-content {
    height: 100%;
    width: 100%;
  }


}


