.app-header {
  position: sticky;
  z-index: 100;
  top: 0;
}

.content-container {
  width: 100%;
  height: calc(100% - 64px);

  .sidenav {
    background-color: transparent;
    backdrop-filter: blur(35px) grayscale(30%);
    padding: 20px;
    .list-item {
      width: 150px;
      text-align: start;
    }
  }

  .main-content {
    height: 100%;
    width: 100%;
  }


}


