$black: #343434;
$dark-black: #1A1A1A;
$black-gradient: linear-gradient(-225deg, $dark-black, $black);
$content-color: #CDD4DE;

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
  color: $content-color;
  background: $black-gradient;

  h1 {
    font-weight: 900;
    font-size: 165px;
    line-height: 1;
    margin-bottom: -10px;
    opacity: 0.6;
  }

  h2 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 6px;
    opacity: 0.9;
  }

  .button-text-color {
    color: $content-color
  }
}
