.table-wrapper {
  padding: 20px;

  .row {
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(#7e57c2, .14);
    }
    &:active {
      background-color: rgba(#7e57c2, .18);
    }
  }
}
