<div
class="table-wrapper">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8">
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column.key"
    >
      <ng-container *ngIf="column.key !== 'actions'">
        <th mat-header-cell *matHeaderCellDef>{{ column.name | titlecase }}</th>
        <td mat-cell *matCellDef="let user">{{ user[column.key] }}</td>
      </ng-container>
      <ng-container *ngIf="column.key === 'actions'">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let user; let i = index">
          <button mat-icon-button
                  (click)="$event.stopPropagation()"
                  [matMenuTriggerData]="{element: user}"
                  [matMenuTriggerFor]="menu">
            <mat-icon class="default-icon-color">more_vert</mat-icon>
          </button>
        </td>
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row class="row" *matRowDef="let userRow; columns: columns" (click)="onRowClickOpenDetails(userRow)"></tr>
  </table>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <mat-paginator
    #paginator
    [length]="totalData"
    [pageSizeOptions]="pageSizes"
    showFirstLastButtons
  ></mat-paginator>
</div>


<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-element="element">
    <button
      mat-menu-item
      *ngFor="let menuItem of tableMenuConfig"
      (click)="onActionButtonClick($event, element, menuItem.value)">
      <mat-icon>{{menuItem.icon}}</mat-icon>
      <span>{{menuItem.name}}</span>
    </button>
  </ng-template>

</mat-menu>
