.header {
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  margin: 0 24px 24px;
  .form {
    padding: 24px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
  .action-group {
    padding: 0 24px 24px;
    display: flex;
    justify-content: end;
    gap: 24px
  }
}

.readonly-user {
  font-size: 18px;
  line-height: 32px;
}



